*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}




.container {
    height: 100vh;
    min-width: 1280px;
    background-color: RGB(18, 19, 22);
}

/* ////////HEADER///// */

header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: RGB(18, 19, 22);
    height: 35px;
    padding: 5px;
}



.container nav {
    display: flex;
    flex-direction: row;
}

.container nav a {
    margin-left: 50px;
    color: white;
    font-size: 19px;
    font-weight: 500;
    line-height: 16px;
    text-align: right;
    align-items: center;

}

/* ////////FIN HEADER///// */

.container-two {
    height: 100vh;
    min-width: 1280px;
    background-color: red;
}